.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: var(--font-secondary);
    text-align: center;
    font-size: 3vw;
    margin-top: 1.5vw;
    margin-bottom: 0;
}

.subtitle {
    text-align: center;
    width: 65%;
    font-size: 1.25vw;
    margin-bottom: 2.5vw;
}

@media (max-width: 768px) {
    .title {
        font-size: 8vw;
        margin-top: 5vw;
    }

    .subtitle {
        font-size: 4vw;
        width: 90%;
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-tertiary);
    width: 100%;
    padding-top: 2.5vw;
}