@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --font-primary: 'Manrope', sans-serif;
  --font-secondary: 'Libre Baskerville', serif;
  --background-color: #F0EFE9;
  --background-color-secondary: #DED0B6;
  --text-color: #000000;
}

* {
  font-family: var(--font-primary);
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
}