.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    background-color: var(--background-color);
}

.brand {
    font-size: 3vw;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-family: var(--font-secondary);
}

.navigation {
    font-size: 1.25vw;
    display: flex;
    gap: 3rem;
    align-items: center;
    transition: all 0.1s ease;
    position: relative;
    z-index: 1002;
}

.navigationShifted {
    transform: translateX(-320px);
}

.navigation a {
    text-decoration: none;
    color: inherit;
    font-family: var(--font-primary);
}

.menuButton {
    text-decoration: none;
    color: inherit;
    z-index: 1001;
    font-size: 1.25vw;
    border: none;
    background: none;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
    transition: transform 0.1s ease;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.menuOpen {
    transform: translateX(0);
}

.menuContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 768px) {
    .brand {
        font-size: 5vw;
    }

    .navigation a:not(.menuButton) {
        display: none;
    }

    .navigation {
        gap: 1rem;
    }

    .menu {
        width: 100%;
        max-width: 300px;
    }

    .menuButton {
        font-size: 4vw;
    }
}